
[submodule "Ablaze/vendor/glfw"]
	path = Ablaze/vendor/glfw
	url = https://github.com/AblazeIce/glfw
[submodule "Ablaze/vendor/spdlog"]
	path = Ablaze/vendor/spdlog
	url = https://github.com/AblazeIce/spdlog
[submodule "Ablaze/vendor/glm"]
	path = Ablaze/vendor/glm
	url = https://github.com/AblazeIce/glm
